# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\KYH-prog\RSA\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
